/* .answer {
  display: none;
} */

/* .questions {
  display: none;
} */

/* Header styling */
.header h1 {
  text-align: center;
  margin-bottom: 10%;
}

#deadfish-goodbye {
  word-break: break-all;
  hyphens: auto;
}

.intro img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
}

.btn-box {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

.questions img{
  display: flex;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}

.questions h2 {
  text-align: center;
  margin-top: 10px;
}

.question {
  margin-bottom: 10%;
}